@import "tailwindcss";

body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif, serif;
    color: black;
}

.dark{
    background-color: #2b2a33;
    color: white;
}

.dark .default-background{
    background-color: #2b2a33;
}

.light-background{
    background-color: #EDD4B2;
}

.dark .light-background{
    background-color: #42414d;
}

.light-hover:hover{
    background-color: oklch(0.71 0.022 261.33);
}

.default-background{
    background-color: #ECDCC9;
}

.dark-element{
    color: black;
}

.dark .dark-element{
    color: white;
}

.dark .dark-text{
    color: black;
}

.animate-scroll:hover span {
    animation: marquee 2s ease-in-out alternate infinite;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 50px;
    position: absolute;
}

.hide-scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration{
    -webkit-appearance: none;
}

.nikke-spin{
    animation: 4s nikke ease-in-out infinite;
}

.animate-fade-in{
    animation: 1s fade-in linear forwards;
}

@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes nikke{
    5%{
        scale: 1;
        transform: rotate(0deg);
    }
    25%, 26%{
        scale: 1;
        transform: rotate(90deg);
    }
    50%, 51%{
        scale: 1;
        transform: rotate(180deg);
    }
    75%, 76%{
        scale: 1;
        transform: rotate(270deg);
    }
    99%, 100%{
        scale: 1;
        transform: rotate(360deg);
    }

    15%, 35%, 60%, 85%{
        scale: 1.25;
    }
}

.animate-scale-in{
    animation: .16s scale-in ease-in-out forwards;
}

@keyframes scale-in{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.animate-scale-out{
    animation: .5s scale-out ease-in-out forwards;
}

@keyframes scale-out{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}

.animate-wipe-down{
    animation: .2s wipe-down linear forwards;
}

@keyframes wipe-down{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}