<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="max-w-[932px] min-h-[95%] max-h-[95%] px-3">
    <div class="flex h-screen flex-col">
        <header class="w-full h-[15%]flex after:content-[''] relative pt-2">
            <div class="absolute w-50 top-0 right-0">
                <p><strong>Order #: {{ number }}</strong></p>
            </div>
            <img src="{{ logo }}" alt="" class="w-fit">
        </header>
        <section class="pt-4 h-[20%]">
            <div class="w-full text-wrap flex flex-col justify-center items-center text-2xl">
                <p><strong>LAPTOP USERNAME</strong></p>
                <p>{{ full_name }}</p>
            </div>
            <div class="w-full text-wrap flex flex-col justify-center items-center text-2xl pt-4">
                <p><strong>LAPTOP PASSWORD</strong></p>
                <p>Password1</p>
            </div>
        </section>
        <main class="pt-5 w-full h-[70%] flex justify-around">
            <div class="flex flex-col justify-center items-center">
                <p class="text-4xl">
                    <strong>INCIDENT</strong>
                </p>
            </div>
        </main>
        <footer class="flex-col px-5 pb-10 h-auto justify-evenly items-center">
            <div class="flex justify-evenly items-center">
                <div class="flex-col w-[50%]">
                    <div class="flex justify-between p-3 gap-2">
                        <span class="text-xl text-right w-full">
                            <strong>Installer:</strong>
                        </span>
                        <span class="pt-1.5">________________________________________________</span>
                    </div>
                    <div class="flex justify-between p-3 gap-2">
                        <span class="text-xl text-right w-full">
                            <strong>QA/QC:</strong>
                        </span>
                        <span class="pt-1.5">________________________________________________</span>
                    </div>
                </div>
                <div>
                    <img 
                    src="{{ qr_logo }}"
                    width="90">
                </div>
            </div>
            <div class="h-10 flex items-center">
                <p>{{ company }}</p>
            </div>
        </footer>
    </div>
    <div class="break-after-page"></div>
    <div class="h-screen flex flex-col justify-center items-center gap-3">
        <div class="h-90">
            <p class="text-6xl">
                <strong><u>{{ number }}</u></strong>
            </p>
        </div>
        <div class="w-50 text-center">
            <p class="text-5xl"><strong>PLACE DEVICE IN BOX</strong></p>
        </div>
    </div>
</body>
</html>